{% extends 'base.html' %} {% block content %}

<h1>My {{ accessory.category }}</h1>

<form
  action="{% url 'add_accessory_photo' accessory.id %}"
  enctype="multipart/form-data"
  method="POST"
  class="card-panel"
>
  {% csrf_token %}
  <input type="file" name="accessory-photo-file" />
  <br /><br />
  <input type="submit" class="btn" value="Upload Photo" />
</form>


{% for accessoryphoto in accessory.accessoryphoto_set.all %}
<div class="col s12 m7 l4">
  <div class="card small">
    <div class="card-image">
      <img class="responsive-img" src="{{accessoryphoto.url}}">
    </div>
    <div class="card-stacked">
      <div class="card-action">
        <a href="{% url 'accessories_delete' accessoryphoto.id %}">Delete</a>
      </div>
    </div>
  </div>
  {% empty %}
  <div class="card-panel teal-text center-align">You do not have any {{ accessory.category }} yet 😞</div>
{% endfor %} 

          
{% endblock %}
