{% extends 'base.html' %} {% block content %}

<h1>My {{ accessory.category }}</h1>

{% for accessoryphoto in accessory.accessoryphoto_set.all %}
<img class="responsive-img card-panel" src="{{accessoryphoto.url}}">
{% empty %}
<div class="card-panel teal-text center-align">You do not have any {{ accessory.category }} yet 😞</div>
{% endfor %}

<form
  action="{% url 'add_accessory_photo' accessory.id %}"
  enctype="multipart/form-data"
  method="POST"
  class="card-panel"
>
  {% csrf_token %}
  <input type="file" name="accessory-photo-file" />
  <br /><br />
  <input type="submit" class="btn" value="Upload Photo" />
</form>


{% endblock %}