{% extends 'base.html' %} {% block content %}

<h1>My {{ coat.category }}</h1>

{% for coatphoto in coat.coatphoto_set.all %}
<img class="responsive-img card-panel" src="{{coatphoto.url}}">
{% empty %}
<div class="card-panel teal-text center-align">You do not have any {{ coat.category }} yet 😞</div>
{% endfor %}

<form
  action="{% url 'add_coat_photo' coat.id %}"
  enctype="multipart/form-data"
  method="POST"
  class="card-panel"
>
  {% csrf_token %}
  <input type="file" name="coat-photo-file" />
  <br /><br />
  <input type="submit" class="btn" value="Upload Photo" />
</form>


{% endblock %}