{% extends 'base.html' %} {% block content %}

<h1>My Closet</h1>


<div class="card">
  <div class="card-content">
    <span class="card-title">TOPS</span>
    {% for top in tops %}
      <a href="/mycloset/tops/{{ top.id }}"><p>{{top.category}}</p></a>
    {% endfor %}
  </div>
</div>



<div class="card">
  <div class="card-content">
    <span class="card-title">BOTTOMS</span>
    {% for bottom in bottoms %}
      <a href="/mycloset/bottoms/{{ bottom.id }}"><p>{{bottom.category}}</p></a>
    {% endfor %} 
  </div>
</div>



<div class="card">
  <div class="card-content">
    <span class="card-title">COATS</span>
    {% for coat in coats %}
      <a href="/mycloset/coats/{{ coat.id }}">{{coat.category}}</p></a>
    {% endfor %} 
  </div>
</div>



<div class="card">
  <div class="card-content">
    <span class="card-title">SHOES</span>
    {% for shoe in shoes %}
      <a href="/mycloset/shoes/{{ shoe.id }}"><p>{{shoe.category}}</p></a>
    {% endfor %} 
  </div>
</div>



<div class="card">
  <div class="card-content">
    <span class="card-title">ACCESSORIES</span>
    {% for accessory in accessories %}
      <a href="/mycloset/accessories/{{ accessory.id }}"><p>{{accessory.category}}</p></a>
    {% endfor %} 
  </div>
</div>

{% endblock %}