{% extends 'base.html' %} {% block content %}

<h1>My {{ shoe.category }}</h1>

{% for shoephoto in shoe.shoephoto_set.all %}
<img class="responsive-img card-panel" src="{{shoephoto.url}}">
{% empty %}
<div class="card-panel teal-text center-align">You do not have any {{ shoe.category }} yet 😞</div>
{% endfor %}

<form
  action="{% url 'add_shoe_photo' shoe.id %}"
  enctype="multipart/form-data"
  method="POST"
  class="card-panel"
>
  {% csrf_token %}
  <input type="file" name="shoe-photo-file" />
  <br /><br />
  <input type="submit" class="btn" value="Upload Photo" />
</form>


{% endblock %}