{% extends 'base.html' %} {% block content %}

<h1>My {{ top.category }} Tops</h1>

<!-- {% for toptype in top.toptypes.all %}
<div class="card">
  <div class="card-content">
    <span class="card-title">
       {{ toptype.name }}
    </span>
  </div>
</div>
{% endfor %} -->


<form
  action="{% url 'add_top_photo' top.id %}"
  enctype="multipart/form-data"
  method="POST"
  class="card-panel"
>
  {% csrf_token %}
  <input type="file" name="top-photo-file" />
  <br /><br />
  <input type="submit" class="btn" value="Upload Photo" />
</form>

    

{% for topphoto in top.topphoto_set.all %}
<div class="col s12 m7 l4">
  <div class="card small">
    <div class="card-image">
      <img class="responsive-img" src="{{topphoto.url}}">
    </div>
    <div class="card-stacked">
      <div class="card-action">
        <a href="{% url 'tops_delete' topphoto.id %}">Delete</a>
      </div>
    </div>
  </div>
  {% empty %}
  <div class="card-panel teal-text center-align">You do not have any {{ top.category }} tops yet 😞</div>
{% endfor %} 

            

          
{% endblock %}







