
body {
    background-color: #263238;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
  
main {
    flex: 1 0 auto;
}

.page-footer{
    background-color: teal;
}

footer {
    padding-top: 0;
    text-align: right;
  }


  .card {
    text-align: center;
  }
  
  @media (max-width: 990px) {
    .resizeimg {
      height: auto;
    }
  }
  
  @media (min-width: 1000px) {
    .resizeimg {
      width: auto;
      height: 350px;
    }
  }
